* {
    margin: 7px;
}

h1 {
    text-align: center;
    margin-inline: auto;
    margin-top: 20px;
    background-color: rgb(227, 227, 190);
    width: 150px;
    padding:30px;
    border-radius: 20px;
}

#form {
    background-color: rgb(227, 227, 190);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-inline: auto;
    margin-top: 50px;
}

.input-email {
    padding-top: 30px;
}

.remember {
    text-align: right;
}

.button {
    text-align: center;
    margin-left: 150px;
    margin-top: 50px;
}